$black: #16181d;
$focusBorder: #005cc5;
$foreground: #d1d5da;
$descriptionForeground: #959da5;
$errorForeground: #f97583;
$textLinkforeground: #79b8ff;
$textLinkactiveForeground: #c8e1ff;
$textBlockQuotebackground: #24292e;
$textBlockQuoteborder: #444d56;
$textCodeBlockbackground: #2f363d;
$textPreformatforeground: #d1d5da;
$textSeparatorforeground: #586069;
$buttonbackground: #176f2c;
$buttonforeground: #dcffe4;
$buttonhoverbackground: #22863a;
$checkboxbackground: #444d56;
$checkboxborder: #1b1f23;
$dropdownbackground: #2f363d;
$dropdownborder: #1b1f23;
$dropdownforeground: #e1e4e8;
$dropdownlistbackground: #24292e;
$inputbackground: #2f363d;
$inputborder: #1b1f23;
$inputforeground: #e1e4e8;
$inputplaceholderforeground: #959da5;
$badgeforeground: #c8e1ff;
$badgebackground: #044289;
$progressbarbackground: #0366d6;
$titlebaractiveforeground: #e1e4e8;
$titlebaractivebackground: #24292e;
$titlebarinactiveforeground: #959da5;
$titlebarinactivebackground: #1f2428;
$titlebarborder: #1b1f23;
$activitybarforeground: #e1e4e8;
$activitybarinactiveforeground: #6a737d;
$activitybarbackground: #24292e;
$activitybarbadgeforeground: #fff;
$activitybarbadgebackground: #0366d6;
$activitybaractiveborder: #f9826c;
$activitybarborder: #1b1f23;
$sidebarforeground: #d1d5da;
$sidebarbackground: #1f2428;
$sidebarborder: #1b1f23;
$sidebartitleforeground: #e1e4e8;
$sidebarsectionheaderforeground: #e1e4e8;
$sidebarsectionheaderbackground: #1f2428;
$sidebarsectionheaderborder: #1b1f23;
$listhoverforeground: #e1e4e8;
$listinactiveselectionforeground: #e1e4e8;
$listactiveselectionforeground: #e1e4e8;
$listhoverbackground: #282e34;
$listinactiveselectionbackground: #282e34;
$listactiveselectionbackground: #39414a;
$listinactivefocusbackground: #1d2d3e;
$listfocusbackground: #044289;
$treeindentguidesstroke: #2f363d;
$notificationcenterheaderforeground: #959da5;
$notificationcenterheaderbackground: #24292e;
$notificationsforeground: #e1e4e8;
$notificationsbackground: #2f363d;
$notificationsborder: #1b1f23;
$notificationserroriconforeground: #ea4a5a;
$notificationswarningiconforeground: #ffab70;
$notificationsinfoiconforeground: #79b8ff;
$pickergroupborder: #444d56;
$pickergroupforeground: #e1e4e8;
$quickinputbackground: #24292e;
$quickinputforeground: #e1e4e8;
$statusbarforeground: #d1d5da;
$statusbarbackground: #24292e;
$statusbarborder: #1b1f23;
$statusbarnofolderbackground: #24292e;
$statusbardebuggingbackground: #931c06;
$statusbardebuggingforeground: #fff;
$statusbaritemprominentbackground: #282e34;
$editorgroupheadertabsbackground: #1f2428;
$editorgroupheadertabsborder: #1b1f23;
$editorgroupborder: #1b1f23;
$tabactiveforeground: #e1e4e8;
$tabinactiveforeground: #959da5;
$tabinactivebackground: #1f2428;
$tabactivebackground: #24292e;
$tabhoverbackground: #24292e;
$tabunfocusedhoverbackground: #24292e;
$tabborder: #1b1f23;
$tabunfocusedactivebordertop: #1b1f23;
$tabactiveborder: #24292e;
$tabunfocusedactiveborder: #24292e;
$tabactivebordertop: #f9826c;
$breadcrumbforeground: #959da5;
$breadcrumbfocusforeground: #e1e4e8;
$breadcrumbactiveselectionforeground: #d1d5da;
$breadcrumbpickerbackground: #2b3036;
$editorforeground: #e1e4e8;
$editorbackground: #24292e;
$editorwidgetbackground: #1f2428;
$editorfoldbackground: #282e33;
$editorlinehighlightbackground: #2b3036;
$editorlinenumberforeground: #444d56;
$editorlinenumberactiveforeground: #e1e4e8;
$editorindentguidebackground: #2f363d;
$editorindentguideactivebackground: #444d56;
$editorwhitespaceforeground: #444d56;
$editorcursorforeground: #c8e1ff;
$editorfindmatchbackground: #ffd33d44;
$editorfindmatchhighlightbackground: #ffd33d22;
$editorinactiveselectionbackground: #3392ff22;
$editorselectionbackground: #3392ff44;
$editorselectionhighlightbackground: #17e5e633;
$editorselectionhighlightborder: #17e5e600;
$editorwordhighlightbackground: #17e5e600;
$editorwordhighlightstrongbackground: #17e5e600;
$editorwordhighlightborder: #17e5e699;
$editorwordhighlightstrongborder: #17e5e666;
$editorbracketmatchbackground: #17e5e650;
$editorbracketmatchborder: #17e5e600;
$editorguttermodifiedbackground: #2188ff;
$editorgutteraddedbackground: #28a745;
$editorgutterdeletedbackground: #ea4a5a;
$diffeditorinsertedtextbackground: #28a74530;
$diffeditorremovedtextbackground: #d73a4930;
$scrollbarshadow: #0008;
$scrollbarsliderbackground: #6a737d33;
$scrollbarsliderhoverbackground: #6a737d44;
$scrollbarslideractivebackground: #6a737d88;
$editoroverviewrulerborder: #1b1f23;
$panelbackground: #1f2428;
$panelborder: #1b1f23;
$paneltitleactiveborder: #f9826c;
$paneltitleactiveforeground: #e1e4e8;
$paneltitleinactiveforeground: #959da5;
$panelinputborder: #2f363d;
$terminalforeground: #d1d5da;
$gitdecorationaddedresourceforeground: #34d058;
$gitdecorationmodifiedresourceforeground: #79b8ff;
$gitdecorationdeletedresourceforeground: #ea4a5a;
$gitdecorationuntrackedresourceforeground: #34d058;
$gitdecorationignoredresourceforeground: #6a737d;
$gitdecorationconflictingresourceforeground: #ffab70;
$gitdecorationsubmoduleresourceforeground: #6a737d;
$debugtoolbarbackground: #2b3036;
$editorstackframehighlightbackground: #a707;
$editorfocusedstackframehighlightbackground: #b808;
$peekvieweditormatchhighlightbackground: #ffd33d33;
$peekviewresultmatchhighlightbackground: #ffd33d33;
$peekvieweditorbackground: #1f242888;
$peekviewresultbackground: #1f2428;
$settingsheaderforeground: #e1e4e8;
$settingsmodifieditemindicator: #0366d6;
$welcomepagebuttonbackground: #2f363d;
$welcomepagebuttonhoverbackground: #444d56;
