@import '@stylesheet';

.cusParagraph {
  display: inline-block;
  &_tag {
    color: $notificationserroriconforeground;
  }
  &_data {
    color: $foreground;
  }
}

.cusDiv {
  display: inline-block;
  &_tag {
    color: $focusBorder;
  }
  &_data {
    color: $foreground;
  }
}

.cusImport {
  display: inline-block;
  &_tag {
    color: $notificationswarningiconforeground;
  }
  &_data {
    color: $foreground;
  }
}

.CusCommon {
  display: inline-block;
  &_data {
    color: $foreground;
  }
}

.CusFunctionStart {
  display: inline-block;
  &_tag {
    color: $focusBorder;
  }
  &_data {
    color: $foreground;
  }
}
