@import '@stylesheet';

.bottomTab {
  width: 100%;
  height: 4vh;
  background-color: $progressbarbackground;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  color: $foreground;
  span {
    padding: 0 0.2rem;
  }
}
